/* Estilo base para todos os botões */
.base-button {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.31); /* Borda fina */
    padding: 5px;
    border-radius: 100px; /* Bordas arredondadas */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para o box-shadow */
}

.base-button:hover {
    -webkit-box-shadow: inset -1px 0px 132px -21px rgba(0,0,0,0.31);
    -moz-box-shadow: inset -1px 0px 132px -21px rgba(0,0,0,0.31);
    box-shadow: inset -1px 0px 132px -21px rgba(0,0,0,0.31);
    cursor: pointer;
}

.base-button:focus {
    outline: none; /* Remove o contorno quando selecionado */
}

/* Estilo para .user-login */
.user-login {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para .sort-button */
.sort-button {
    margin-left: 10px; /* Espaço entre os botões */
}

#rotate-icon180 {
    transition: transform 0.18s ease; /* Efeito de rotação */
}

.rotated-180 {
    transform: rotate(-180deg); /* Gira 180 graus */
}

/* Estilo para .more-settings-btn */
.more-options {
    position: relative; /* Garante que o submenu se posicione em relação a este contêiner */
    margin-left: 90%;
}

.more-settings-btn {
    border: none;
    padding: 0px;
    background: transparent; /* Evita interferências de estilo no botão */
    position: relative; /* Certifica-se de que o botão não afeta o layout */
}

.rotate-icon90 {
    transition: transform 0.18s ease; /* Efeito de rotação */
}

.rotated-90 {
    transform: rotate(-90deg); /* Gira 90 graus */
}

.options-note-submenu {
    display: none; /* Inicialmente escondido */
    position: absolute; /* Posiciona o submenu em relação ao botão */
    top: 100%; /* Ajusta para que o submenu fique logo abaixo do botão */
    left: 0; /* Alinha o submenu à esquerda do botão */
    background: #FEEFC3;
    border: 2px solid #202020;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000; /* Garante que o submenu fique acima de outros elementos */
    white-space: nowrap;
    width: auto;
    min-width: 50px;
    border-radius: 8px;
}

.options-note-submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-note-submenu li {
    margin: 2px 0; /* Aumenta a margem entre os itens */
    text-align: left;
    position: relative; /* Necessário para o posicionamento do sombreado */
}

.options-note-submenu li a {
    display: block; /* Faz o link ocupar o espaço total do item */
    text-decoration: none;
    color: #333333;
    padding: 10px; /* Adiciona um pouco de preenchimento */
    border-radius: 4px; /* Adiciona bordas arredondadas aos itens */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transições suaves */
}

/* Para o link excluir */
.options-note-submenu ul li:nth-of-type(3) a {
    color: #FF5733;
}

.options-note-submenu li:hover a {
    background-color: #f0e5b2; /* Adiciona um fundo claro ao passar o mouse */
}

.options-note-submenu li:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Aumenta o sombreado do item ao passar o mouse */
    cursor: pointer;
}

.options-note-submenu.show {
    display: block; /* Mostra o submenu quando necessário */
}