/* Estilo base para todos os botões */
.base-button {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.31); /* Borda fina */
    padding: 5px;
    border-radius: 100px; /* Bordas arredondadas */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para o box-shadow */
}

.base-button:hover {
    box-shadow: inset -1px 0px 132px -21px rgba(0,0,0,0.31);
    cursor: pointer;
}

.base-button:focus {
    outline: none; /* Remove o contorno quando selecionado */
}

/* Estilo para o submenu */
/* Estilo para o submenu */
.options-user-submenu {
    display: none; /* Inicialmente escondido */
    position: absolute; /* Posiciona o submenu em relação ao botão */
    width: 115px;
    height: 60px;
    top: 100%; /* Posiciona o submenu diretamente abaixo do botão */
    left: 1520px; /* Centraliza o submenu horizontalmente em relação ao botão */
    transform: translateX(-50%); /* Ajuste final para centralizar o submenu */
    background: #FEEFC3;
    border: 2px solid #202020;
    padding: 5px 5px; /* Ajuste o padding para tornar o menu menor */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000; /* Garante que o submenu fique acima de outros elementos */
    white-space: nowrap;
    border-radius: 8px;
}

/* Estilo para a lista do submenu */
.options-user-submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo para cada item do submenu */
.submenu-item {
    display: flex; /* Usa flexbox para alinhar o ícone e o texto horizontalmente */
    align-items: center; /* Alinha o ícone e o texto verticalmente */
    margin: 2px 0;
    text-align: left;
}

/* Estilo para o link no submenu */
.options-user-submenu li a {
    display: block;
    text-decoration: none;
    color: #333333;
    padding: 8px; /* Ajusta o padding para tornar o menu menor */
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Estilo para o link quando em hover */
.options-user-submenu, .submenu-icon li:hover a {
    background-color: #f0e5b2;
}

/* Estilo para o item do submenu quando em hover */
.options-user-submenu li:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Ajusta o sombreado dos itens ao passar o mouse */
    cursor: pointer;
}

/* Estilo para mostrar o submenu quando necessário */
.options-user-submenu.show {
    display: block;
}

/* Estilo para o submenu das notas */
.options-note-submenu {
    display: none;
    position: absolute;
    top: 100%; /* Ajusta para que o submenu fique logo abaixo do botão */
    left: 0; /* Alinha o submenu à esquerda do botão */
    background: #FEEFC3;
    border: 2px solid #202020;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ajusta o sombreado para uniformidade */
    z-index: 1000;
    white-space: nowrap;
    width: auto;
    min-width: 50px;
    border-radius: 8px;
}

.options-note-submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-note-submenu li {
    margin: 2px 0;
    text-align: left;
}

.options-note-submenu li a {
    display: block;
    text-decoration: none;
    color: #333333;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Para o link excluir */
.options-note-submenu ul li:nth-of-type(3) a {
    color: #FF5733;
}

.options-note-submenu li:hover a {
    background-color: #f0e5b2;
}

.options-note-submenu li:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Ajusta o sombreado dos itens ao passar o mouse */
    cursor: pointer;
}

.options-note-submenu.show {
    display: block; /* Mostra o submenu quando necessário */
}

/* Estilo para .sort-button */
.sort-button {
    margin-left: 10px; /* Espaço entre os botões */
}

#rotate-icon180 {
    transition: transform 0.18s ease; /* Efeito de rotação */
}

.rotated-180 {
    transform: rotate(-180deg); /* Gira 180 graus */
}

/* Estilo para o botão de configurações das notas */
.more-options {
    position: relative;
    margin-left: 90%;
}

/* Estilo do botão de mais configurações */
.more-settings-btn {
    border: none;
    padding: 0;
    background: transparent; /* Evita interferências de estilo no botão */
    position: relative;
}

.rotate-icon90 {
    transition: transform 0.18s ease; /* Efeito de rotação */
}

.rotated-90 {
    transform: rotate(-90deg); /* Gira 90 graus */
}
