
.modal-dialog {
    max-width: 30%;
}

.modal-content {
    border-radius: 8px !important;
    overflow: hidden;
    background-clip: padding-box;
    border: 1px solid #ccc;
    background-color: #454547ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar a modal */
}


.modal-body {
    background-clip: padding-box; /* Garante que o fundo respeite os limites da borda */
    background-color: #454547ea; /* Mesma cor de fundo da modal-content */
    font-size: 18px;
}

.modal-backdrop {
    background-color: #0000004f; /* Preto com 50% de opacidade */
}

/* Oculta o botão de fechar do modal */
.modal-header .close {
    display: none;
}

/* Remove a borda do textarea */
#noteDescription,
#noteTitle {
    background-color: #454547ea;
    color: #ffffff;
    border: none;
    box-shadow: none;
    /* Remove a sombra se houver alguma */
    resize: none;
    /* Desabilita o redimensionamento manual */
    overflow: hidden;
    /* Esconde a barra de rolagem */
}

#noteDescription::placeholder,
#noteTitle::placeholder {
    color: rgba(255, 255, 255, 0.644);
}

/* Animação de zoom-in para o modal */
.modal.fade .modal-dialog {
    transform: scale(1.4);
    transition: transform 0.2s ease-out;
}

/* Efeito de zoom-out ao fechar */
.modal.fade.show .modal-dialog {
    transform: scale(1);
}

.modal.fade.hide .modal-dialog {
    transform: scale(0.7);
}

/* Para as notas existentes */
textarea {
    height: 600px; /* Altura máxima para notas grandes */
    overflow-y: auto; /* Permite rolagem vertical */
    resize: none; /* Desabilita o redimensionamento manual */
    width: 100%; /* Garante que o textarea use toda a largura disponível */
    box-sizing: border-box; /* Garante que o padding não afete a largura */
}
